/* Reset and Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.location {
  font-family: 'Righteous', sans-serif;
  color: #000000;
  margin: 10px 10px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-family: 'Georgia', serif;
}

/* Background Colors */
header {
  background-color: black;
  color: salmon;
  text-align: center;
}

header h1 {
  font-size: 55px;
  font-family: 'Righteous', sans-serif;
  padding: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
  background-color: salmon;
  text-align: left;
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  display: inline;
  margin: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #06030d;
  font-weight: normal;
  padding: 10px 15px;
  background-color: transparent;
  transition: background-color 0.35s, color 0.35s;
  border: none;
}

nav ul li a:hover,
nav ul li a:active {
  background-color: #3280b4;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Rotating slide show*/

.hero-container {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.414), #5fbaffd7, #37fef4, rgba(0, 0, 0, 0.517));
  padding: 20px 0px;
}


.slideshow {
  display: flex;
  overflow: hidden;
  animation: rotateImages 50s linear infinite;
  width: 300%;
  height: 250px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.slideshow img {
  width: 375px;
  margin-right: 120px;
  max-height: 100%;
}



@keyframes rotateImages {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  75% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}



/* table styles */

#store-info {
  list-style-type: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

/* Style for the table header (Locations, Hours, Hourly Totals) */
thead th {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px;
}

/* Style for table data cells (sales data) */
tbody td {
  background-color: salmon;
  border: 1px solid black;
  padding: 10px;
}

tfoot td {
  background-color: gray;
  border: none;
  color: white;
}


tbody td:first-child {
  text-align: left;
}

tbody td:last-child {
  background-color: gray;
  color: white;
  border: none;
}

/* Style for the last data cell (Hourly Totals) */
tfoot th {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px;
}

/* homepage location name font */
.righteous-font {
  font-family: 'Righteous', sans-serif;
  font-size: 25px;
  margin: 25px 0px 10px 20px;
}

.sub-content {
  color: gray;
  margin-left: 35px;
  padding-bottom: 10px;
}

/* Footer styling */
footer {
  background-color: rgba(128, 128, 128, 0.801);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.832);
}

/* form styling */
.input-group {
  display: inline-block;
  margin-right: 10px;
}

.input-row {
  margin-bottom: 10px;
}


label {
  padding: 5px;
  font-size: 12px;
  text-align: left;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 30px 0px;
}

#location-form {
  border: 2px solid #8fa6b6;
  padding: 25px 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

Legend {
  font-family: 'Righteous', sans-serif;
  font-size: 14px;
  color: salmon;
  position: absolute;
  top: -20px;
  left: 5px;
}

#add-location-button {
  background-color: rgb(100, 98, 108);
  color: white;
  height: 30px;
  width: 100px;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
  font-family: sans-serif;
}

#add-location-button:hover,
#add-location-button:active {
  background-color: #3280b4;
  color: white;
}

.table-container {
  margin: 0px 60px 30px 60px;
}
